@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
    font-family: 'Spartan', sans-serif;
}


@media only screen and (min-width: 961px) {
    body {
        background-color: hsl(0, 0%, 90%);
      display: flex;
      justify-content: center;
    }
  }
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
      background-color: hsl(0, 0%, 90%);
      display: flex;
      justify-content: center;
    }
  }
  @media only screen and (max-width: 400px) {
    body {
      background-color: hsl(0, 0%, 90%);
      display: flex;
      justify-content: center;
    }
  }
body{
    background-color: hsl(0, 0%, 90%);
    display: flex;
}

.container{
    display: flex;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 375px;
    height: 400px;
}



.first{
    display: flex;
    width: 350px;
    color:hsl(198, 20%, 13%);
    font-size: 32px;
    margin-bottom: 20px;
}

.first>:nth-child(2){
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    font-size:10px;
    width: 115px;
    
}

.input{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    


}

.labels{
    letter-spacing: 3px;
    width: 60px;
    text-align: center;

    
}

.rad{
    background-color:hsl(0, 5%, 81%);
    width: 60px;
    margin-top: 4px;
    height: 20px;
    border-radius:20px;
    padding-top: 3px;
    padding-left: 8px;
    letter-spacing: 3px;
}

input[type=radio]{ 
    width: 10px;

}
input[type=radio]:checked + .labels{
    width: 10px;
    accent-color: hsl(25, 98%, 40%);
    background-color: red;
    transition: 0.5s;
}


.middle{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    max-width: 350px;
    min-height: 90px;
    height: fit-content;
    word-wrap: break-word;
    border-radius: 10px;
    text-align:right;
    font-size:4.2vmin;
    padding-top: 27px;
    padding-right: 15px;
    color: hsl(198, 20%, 13%);
    background-color:hsl(0, 0%, 93%);
    margin-bottom: 20px;

}

.last{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4,1fr);
    width: 350px;
    border: 1px solid;
    background-color: hsl(0, 5%, 81%);
    border-radius: 10px;
    padding: 15px 15px ;
    padding-bottom: 20px;
    grid-gap: 10px;
    border:none

    
}

.last button{
    border: none;
    border-radius: 5px;
    width: 60px;
    height: 33px;
    background-color: hsl(45, 7%, 89%);
    box-shadow:0 2px hsl(35, 11%, 61%) ;
    color: hsl(60, 10%, 19%);
    cursor: pointer;

}
.last button[delete]{
    background-color: hsl(185, 42%, 37%);
    box-shadow: 0 2px hsl(185, 58%, 25%);
    color: white;
}
.last button[reset]{
    background-color: hsl(185, 42%, 37%);
    box-shadow: 0 2px hsl(185, 58%, 25%);
    color: white;
    grid-column: span 2;
    width: 145px;
}

.last button[equal]{
    background-color: hsl(25, 98%, 40%);
    box-shadow: 0 2px hsl(25, 99%, 27%);
    color: white;
    grid-column: span 2;
    width: 145px;
}
.last button:active{
    transform:translateX(1px) translateY(1px) translateZ(1px);
}


.after{
    font-size: 14px;
}

.operator{
    font-size: 14px;
}
