@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
:root{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight:400;
    background-color:hsl(210, 60%, 98%) ;
    
}
p{
    font-size: 16px;
}

#greybox{
    width: 550px;
    margin-left: 50px;
    padding: 10px;
    margin-top: 10px;
    border: solid rgba(128, 128, 128, 0.614);
    border-radius: 12px;
    color: hsl(219, 14%, 63%);
}

#greybox:hover{
    background-color:hsl(211, 68%, 94%);
    color: black;
    cursor: pointer;
}

#grey{
    color: hsl(219, 14%, 63%);
    font-weight: 400;

}
#blue{
    color:hsl(219, 85%, 26%);
    font-weight: 600;
    font-weight: bolder;

}
#blue:hover{
    color:hsl(219, 87%, 19%);
    cursor: pointer;
}
#greyp{
    color:hsl(219, 12%, 42%) ;
    font-weight: 600;
    font-weight: bolder;
}
#greyp:hover{
    cursor: pointer;
    color: hsl(224, 96%, 17%);
}

#name{
    color: hsl(224, 21%, 14%);
    font-weight:600;
}
#name:hover{
    color:hsl(219, 85%, 26%);
    cursor: pointer;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.container{
    margin-top:80px;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 750px;
    border-radius: 12px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    align-items: stretch;
}
.notification{
    font-size: 24px;
    font-weight: 600;
}
#num{
    background-color: hsl(219, 85%, 26%);
    color: white;
    font-size: 16px;
    margin-left: 15px;
    padding: 5px 12px;
    border-radius: 10px;

}

.feed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.new{
    display: grid;
    grid-template-rows: repeat(3);
    background-color:white ;
    row-gap: 8px;
    justify-content: center;

}

.first{
    background-color:hsl(210, 60%, 98%) ;
    width: 600px;
    height: 70px;
    border-radius: 12px;
    text-align:start;
    padding: 5px;
    line-height: 25px;
    display: flex;
    
    
   
}

.dot{
    height: 8px;
    width: 8px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    

}
img{
    margin-right: 10px;
    margin-top: 7px;
    width: 40px;
}

.message{
    width: 600px;
    height: 70px;
    border-radius: 12px;
    text-align:start;
    padding: 5px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.middle{
    display: flex;
    flex-direction: row;
    
}
img[alt="chess"]{
    cursor: pointer;
}

#mark{
    color:hsl(219, 12%, 42%);
}
#mark:hover{
    cursor: pointer;
    color: rgb(4, 4, 116);
}