@import url('https://fonts.googleapis.com/css2?family=Manrope:display=swap');

:root{
    font-family: 'Manrope', sans-serif;
    
}
body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url(./images/bg-pattern.svg);
    background-repeat: no-repeat;
    font-family: "Manrope", sans-serif;
    font-size: 12px;
    font-weight: 600;
    background-color: hsl(230, 100%, 99%);
    margin-top: 75px;
}

.header {
    background-image: url(./images/pattern-circles.svg);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 60% 45%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 10px;
    margin-bottom: 40px;
}
.header h1{
    color:hsl(227, 35%, 25%);
    font-size: 25px;
}
.header p{
    color:hsl(225, 20%, 60%);
    font-size: 13px;
}
.container{
    width: 500px;
    height: 400px;
    border-radius: 12px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:10px 40px;
}
.slider{
    width: 400px;
    border-radius: 12px;
    height: 10px;
    display: flex;
    justify-content: space-around;
    align-self: center;

    

}

input[type='range']{
    width: 400px;
    cursor: pointer;
background-color: hsl(174, 86%, 45%);
-webkit-appearance: none;
  height: 10px;
  border-radius: 5px;
  outline: none;
    
}

  

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: url(./images/icon-slider.svg);
    background-repeat: no-repeat;
    background-position: 50%, 50%;
    cursor: pointer;
    transition: 0.4s;
    background-color: hsl(174, 86%, 45%);
}
input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    color: #0c0f0f;
  }
input[type='range']::-webkit-slider-thumb:hover {
    background-color: hsl(174, 95%, 30%);
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 32px;
	height: 17px;
	background: hsl(223, 50%, 87%);
	display: block;
	border-radius: 12px;
	position: relative;
    
}

label:after {
	content: '';
	position: absolute;
	top: 2.5px;
	left: 2px;
	width: 12px;
	height: 12px;
    margin-left: 1px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: hsl(174, 86%, 45%);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 50px;
}

.billing{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 50px;
    gap: 10px;

}

.line{
    height: 1px;
    background-color: hsl(223, 50%, 87%);
    width:500px;
    margin: bottom 200px;;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 0px 0px 40px;
}
.props{
    color:hsl(225, 20%, 60%) ;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.features{
    display: flex;
    gap: 15px;
}
svg{
    margin-top: 3px;
}

.start{
    margin-top: 40px;
    width: 170px;
    height: 30px;
    margin-right: 40px;
    padding-top: 15px;
    position: relative;
    bottom: 20px;
    color: hsl(226, 100%, 87%);
    border-radius: 50px;
    background-color:hsl(227, 35%, 25%) ;
    cursor: pointer;
}
.start:hover{
    color: white;
}

